[submodule "task1-backend-nodejs"]
	path = task1-backend-nodejs
	url = https://github.com/mohitdhatrak/task1-backend-nodejs.git
[submodule "task2-backend-nodejs"]
	path = task2-backend-nodejs
	url = https://github.com/mohitdhatrak/task2-backend-nodejs.git
[submodule "task3-backend-nodejs"]
	path = task3-backend-nodejs
	url = https://github.com/mohitdhatrak/task3-backend-nodejs.git
[submodule "task4-nodejs-delete-update"]
	path = task4-nodejs-delete-update
	url = https://github.com/mohitdhatrak/task4-nodejs-delete-update.git
